requests
requests[socks] 
python-telegram-bot 
bs4 
user_agent 
ping3 
nmap 
tcping 
pyping 
requests_toolbelt 
telethon 
tenacity
pyrogram
tgcrypto
yarl
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1